body {
    background-color: #faddeb;
  }
  
  .homescreen{
    width: 800px;
    margin: 0 auto;
    padding-top: 20px;
  }
  
  .title{
    font-family: 'Lora', serif;
    color: #482222;
    font-size: 43px;
    font-weight: 800;
    text-align: center;
  }
  .intro {
    font-family: 'Lora', serif;
    color: #3a2020;
    font-size: 21px;
    text-align: center;
    padding-bottom: 1%;
  }
  
  .bedder {
    height: 50px;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Lora', serif;
    color: #3a2020;
    font-size: 16px;
  
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #d790b3;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #3a2020;;
  }
  
  .about {
    top: 0;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: 20px;
  }
  
  .about:hover {
    cursor: pointer;
  }
  
  .about:active {
    text-decoration: underline;
  }
  
  .hamburger-menu {
    height: 55px;
  
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  
  .hamburger {
    height: 40px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 14px;
  }
  
  .questions {
    display: flex;
    flex-direction: column;
    font-family: 'Lora', serif;
    flex-grow: 1;
    flex-shrink: 1;
    color: #3a2020;
    font-size: 20px;
    text-align: left;
  }

  .question1, .question2 {
    display: flex;
    flex-direction: column;
  }
  
  .choices {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
  }


  /* The container */
  .choice1 {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 19px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .choice1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fffdfd;
    border-radius: 50%;
  }

  /* On mouse-over, add a grey background color */
  .choice1:hover input ~ .checkmark1 {
    background-color: #dfd4dd;
  }

  /* When the radio button is checked, add a blue background */
  .choice1 input:checked ~ .checkmark1 {
    background-color: #3a2020;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark1:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .choice1 input:checked ~ .checkmark1:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .choice1 .checkmark1:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }


  .choice2 {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 19px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .choice2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fffdfd;
    border-radius: 50%;
  }

  /* On mouse-over, add a grey background color */
  .choice2:hover input ~ .checkmark2 {
    background-color: #dfd4dd;
  }

  /* When the radio button is checked, add a blue background */
  .choice2 input:checked ~ .checkmark2 {
    background-color: #3a2020;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark2:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .choice2 input:checked ~ .checkmark2:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .choice2 .checkmark2:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }


  .icons {
    align-self: center;
    height: 40px;
    width: 40px;
    margin-top: 20px;
    margin-bottom: -10px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .bottom-bar {
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
    padding-top: 70px;
  }
  .progress {
    width: 60%;
  }

  .navbut {
    top: 0;
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: 20px;
    color: #3a2020;
    background-color: transparent;
    border: none;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .navbut:hover {
    cursor: pointer;
    background-color: #d790b3;
    border-radius: 20px;
  }
  .navbut:active {
    text-decoration: underline;
  }
