body {
    background-color: #faddeb;
  }
  
  .homescreen{
    width: 40%;
    margin: 0 auto;
    padding-top: 30px;
  }
  
  .title{
    font-family: 'Lora', serif;
    color: #482222;
    width: 50%;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-left: 25%;
  }
  .intro {
    font-family: 'Lora', serif;
    color: #3a2020;
    font-size: 20px;
    text-align: center;
    padding-bottom: 3%;
  }

  .heading {
    font-family: 'Lora', serif;
    color: #3a2020;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }

  .routine {
    font-family: 'Lora', serif;
    color: #3a2020;
    font-size: 20px;
    text-align: left;
    padding-bottom: 50px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 50px;
  }

  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }

  .info {
    margin-top: -30px;
    text-align: center;
    font-size: 18px;
  }

  .icons {
    align-self: center;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-bottom: -10px;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .bedder {
    height: 50px;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Lora', serif;
    color: #3a2020;
    font-size: 16px;
  
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #d790b3;;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #3a2020;;
  }
  
  .about {
    top: 0;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: 20px;
  }
  
  .about:hover {
    cursor: pointer;
  }
  
  .about:active {
    text-decoration: underline;
  }

  .ending {
    font-family: 'Lora', serif;
    color: #3a2020;
    font-size: 18px;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-top: auto;
    padding-left: 30px;
    width: 80%;
  }
  
  .hamburger-menu {
    height: 55px;
  
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  
  .hamburger {
    height: 40px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 14px;
  }
  